<!-- source_dxl: C:\Users\SLY\Documents\Python実験\Python - OneNote\Git\Notes_to_OneNote_python\scripts\target_form\FORM_synhbe29.nsf_Fm_Document_5.dxl -->



<div class="notes-form" data-design="Fm_Document_5" style="color: #222;">
  <table class="notes-table" style="border: 1px solid #808080; border-collapse: collapse; width: 800px; table-layout: fixed;" width="800" border="1" cellspacing="0" cellpadding="0">
    <tr>
      <td class="notes-table-cell" style="padding: 3px 6px; vertical-align: top;">
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">承認経路</div>
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
          <span class="notes-field-wrap" style="font-weight: normal; display: block; width: 100%;"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{Root}}</span></span
          >
        </div>
      </td>
      <td class="notes-table-cell" style="padding: 3px 6px; vertical-align: top;">
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
          <span class="notes-field-wrap" style="font-weight: normal; display: block; width: 100%;"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{Step1}}</span></span
          >
          →：<span class="notes-field-wrap" style="font-weight: normal; display: block; width: 100%;"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{Step2}}</span></span
          >
        </div>
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
          ※代行承認許可者：<span class="notes-field-wrap" style="font-weight: normal; display: block; width: 100%;"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{Step2x}}</span></span
          >
        </div>
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
          <span class="notes-field-wrap" style="font-weight: normal; display: block; width: 100%;"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{Status}}</span></span
          >
        </div>
      </td>
    </tr>
  </table>

  <p>　</p>

  <table class="notes-table" style="border: 1px solid #808080; border-collapse: collapse; width: 800px; table-layout: fixed;" width="800" border="1" cellspacing="0" cellpadding="0">
    <tr>
      <td class="notes-table-cell notes-table-hd-gray" style="padding: 3px 6px; vertical-align: top; font-weight: bold; background: #f2f2f2;">
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">発生報告</div>
      </td>
      <td class="notes-table-cell notes-table-hd-gray" style="padding: 3px 6px; vertical-align: top; font-weight: bold; background: #f2f2f2;">
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">承認</div>
      </td>
      <td class="notes-table-cell notes-table-hd-gray" style="padding: 3px 6px; vertical-align: top; font-weight: bold; background: #f2f2f2;">
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">完了報告</div>
      </td>
      <td class="notes-table-cell notes-table-hd-gray" style="padding: 3px 6px; vertical-align: top; font-weight: bold; background: #f2f2f2;">
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">承認</div>
      </td>
    </tr>
    <tr>
      <td class="notes-table-cell" style="padding: 3px 6px; vertical-align: top;">
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
          <span class="notes-field-wrap" style="font-weight: normal; display: block; width: 100%;"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{ReporterNm_1}}</span></span
          >
        </div>
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
          <span class="notes-field-wrap" style="font-weight: normal; display: block; width: 100%;"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{ReporterDep_1}}</span></span
          >
        </div>
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
          <span class="notes-field-wrap" style="font-weight: normal; display: block; width: 100%;"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{ReportTime_1}}</span></span
          >
        </div>
      </td>
      <td class="notes-table-cell" style="padding: 3px 6px; vertical-align: top;">
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
          <span class="notes-field-wrap" style="font-weight: normal; display: block; width: 100%;"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{ApproverNm_1}}</span></span
          >&nbsp;<span class="notes-field-wrap" style="font-weight: normal; display: block; width: 100%;"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{ApproveStatus_1}}</span></span
          >
        </div>
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
          <span class="notes-field-wrap" style="font-weight: normal; display: block; width: 100%;"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{ApproverDep_1}}</span></span
          >
        </div>
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
          <span class="notes-field-wrap" style="font-weight: normal; display: block; width: 100%;"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{ApproveTime_1}}</span></span
          >
        </div>
      </td>
      <td class="notes-table-cell" style="padding: 3px 6px; vertical-align: top;">
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
          <span class="notes-field-wrap" style="font-weight: normal; display: block; width: 100%;"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{ReporterNm_2}}</span></span
          >
        </div>
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
          <span class="notes-field-wrap" style="font-weight: normal; display: block; width: 100%;"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{ReporterDep_2}}</span></span
          >
        </div>
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
          <span class="notes-field-wrap" style="font-weight: normal; display: block; width: 100%;"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{ReportTime_2}}</span></span
          >
        </div>
      </td>
      <td class="notes-table-cell" style="padding: 3px 6px; vertical-align: top;">
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
          <span class="notes-field-wrap" style="font-weight: normal; display: block; width: 100%;"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{ApproverNm_2}}</span></span
          >&nbsp;<span class="notes-field-wrap" style="font-weight: normal; display: block; width: 100%;"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{ApproveStatus_2}}</span></span
          >
        </div>
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
          <span class="notes-field-wrap" style="font-weight: normal; display: block; width: 100%;"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{ApproverDep_2}}</span></span
          >
        </div>
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
          <span class="notes-field-wrap" style="font-weight: normal; display: block; width: 100%;"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{ApproveTime_2}}</span></span
          >
        </div>
      </td>
    </tr>
  </table>

  <p>　</p>

  <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
    管理番号：<span class="notes-field-wrap"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{DocumentNo}}</span></span
    >
  </div>

  <p>　</p>

  <table class="notes-table" style="border: 1px solid #808080; border-collapse: collapse; width: 800px; table-layout: fixed;" width="800" border="1" cellspacing="0" cellpadding="0">
    <tr>
      <td class="notes-table-cell notes-table-hd-blue" style="padding: 3px 6px; vertical-align: top; font-weight: bold; background: #e9f3ff; width: 140px;">
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">入力者</div>
      </td>
      <td class="notes-table-cell" style="padding: 3px 6px; vertical-align: top;">
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
          <span class="notes-field-wrap" style="font-weight: normal; display: block; width: 100%;"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{EntryUser}}</span></span
          >
        </div>
      </td>
      <td class="notes-table-cell" style="padding: 3px 6px; vertical-align: top;">
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
          <span class="notes-field-wrap" style="font-weight: normal; display: block; width: 100%;"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{EntryDept}}</span></span
          >
        </div>
      </td>
    </tr>
    <tr>
      <td class="notes-table-cell notes-table-hd-blue" style="padding: 3px 6px; vertical-align: top; font-weight: bold; background: #e9f3ff; width: 140px;">
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">部所名</div>
      </td>
      <td class="notes-table-cell" style="padding: 3px 6px; vertical-align: top;">
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
          <span class="notes-field-wrap" style="font-weight: normal; display: block; width: 100%;"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{Ask}}</span></span
          >
        </div>
      </td>
      <td class="notes-table-cell" style="padding: 3px 6px; vertical-align: top;">
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
          　　ご担当：<span class="notes-field-wrap" style="font-weight: normal; display: block; width: 100%;"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{AskUser}}</span></span
          >
          様
        </div>
      </td>
    </tr>
    <tr>
      <td class="notes-table-cell notes-table-hd-blue" style="padding: 3px 6px; vertical-align: top; font-weight: bold; background: #e9f3ff; width: 140px;">
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">分類</div>
      </td>
      <td class="notes-table-cell" style="padding: 3px 6px; vertical-align: top;">
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
          <span class="notes-field-wrap" style="font-weight: normal; display: block; width: 100%;"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{Division}}</span></span
          >
        </div>
      </td>
      <!-- 空セル -->
      <td class="notes-table-cell" style="padding: 3px 6px; vertical-align: top;">
        <p>&nbsp;</p>
      </td>
    </tr>
    <tr>
      <td class="notes-table-cell notes-table-hd-blue" style="padding: 3px 6px; vertical-align: top; font-weight: bold; background: #e9f3ff; width: 140px;">
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">システム</div>
      </td>
      <td class="notes-table-cell" style="padding: 3px 6px; vertical-align: top;">
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
          <span class="notes-field-wrap" style="font-weight: normal; display: block; width: 100%;"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{System}}</span></span
          >
        </div>
      </td>
      <!-- 空セル -->
      <td class="notes-table-cell" style="padding: 3px 6px; vertical-align: top;">
        <p>&nbsp;</p>
      </td>
    </tr>
    <tr>
      <td class="notes-table-cell notes-table-hd-blue" style="padding: 3px 6px; vertical-align: top; font-weight: bold; background: #e9f3ff; width: 140px;">
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">サブシステム</div>
      </td>
      <td class="notes-table-cell" style="padding: 3px 6px; vertical-align: top;">
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
          <span class="notes-field-wrap" style="font-weight: normal; display: block; width: 100%;"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{SubSystem}}</span></span
          >
        </div>
      </td>
      <!-- 空セル -->
      <td class="notes-table-cell" style="padding: 3px 6px; vertical-align: top;">
        <p>&nbsp;</p>
      </td>
    </tr>
    <tr>
      <td class="notes-table-cell notes-table-hd-blue" style="padding: 3px 6px; vertical-align: top; font-weight: bold; background: #e9f3ff; width: 140px;">
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">処理名</div>
      </td>
      <td class="notes-table-cell" style="padding: 3px 6px; vertical-align: top;">
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
          <span class="notes-field-wrap" style="font-weight: normal; display: block; width: 100%;"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{Task}}</span></span
          >
        </div>
      </td>
      <td class="notes-table-cell" style="padding: 3px 6px; vertical-align: top;">
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
          <span class="notes-field-wrap" style="font-weight: normal; display: block; width: 100%;"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">　</span></span
          >
        </div>
      </td>
    </tr>
    <tr>
      <td class="notes-table-cell notes-table-hd-blue" style="padding: 3px 6px; vertical-align: top; font-weight: bold; background: #e9f3ff; width: 140px;">
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">状態</div>
      </td>
      <td class="notes-table-cell" style="padding: 3px 6px; vertical-align: top;">
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
          <span class="notes-field-wrap" style="font-weight: normal; display: block; width: 100%;"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{ActionStatus}}</span></span
          >
        </div>
      </td>
      <!-- 空セル -->
      <td class="notes-table-cell" style="padding: 3px 6px; vertical-align: top;">
        <p>&nbsp;</p>
      </td>
    </tr>
    <tr>
      <td class="notes-table-cell notes-table-hd-blue" style="padding: 3px 6px; vertical-align: top; font-weight: bold; background: #e9f3ff; width: 140px;">
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">開始日時</div>
      </td>
      <td class="notes-table-cell" style="padding: 3px 6px; vertical-align: top;">
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
          <span class="notes-field-wrap" style="font-weight: normal; display: block; width: 100%;"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{DocumentDate}}</span></span
          >&nbsp;<span class="notes-field-wrap" style="font-weight: normal; display: block; width: 100%;"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{DocumentTime}}</span></span
          >
        </div>
      </td>
      <!-- 空セル -->
      <td class="notes-table-cell" style="padding: 3px 6px; vertical-align: top;">
        <p>&nbsp;</p>
      </td>
    </tr>
    <tr>
      <td class="notes-table-cell notes-table-hd-blue" style="padding: 3px 6px; vertical-align: top; font-weight: bold; background: #e9f3ff; width: 140px;">
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">完了日時</div>
      </td>
      <td class="notes-table-cell" style="padding: 3px 6px; vertical-align: top;">
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
          <span class="notes-field-wrap" style="font-weight: normal; display: block; width: 100%;"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{ReplyDate}}</span></span
          >&nbsp;<span class="notes-field-wrap" style="font-weight: normal; display: block; width: 100%;"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{ReplyTime}}</span></span
          >
        </div>
      </td>
      <td class="notes-table-cell" style="padding: 3px 6px; vertical-align: top;">
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
          <span class="notes-field-wrap" style="font-weight: normal; display: block; width: 100%;"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{WorkTime}}</span></span
          >　分
        </div>
      </td>
    </tr>
  </table>

  <p>　</p>

  <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">件名</div>

  <p>　</p>

  <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
    <span class="notes-field-wrap"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{Fd_Text_1}}</span></span
    >
  </div>

  <p>　</p>

  <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">親文書</div>

  <p>　</p>

  <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
    <span class="notes-field-wrap"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{Fd_Link_1}}</span></span
    >
  </div>
  <table class="notes-table" style="border: 1px solid #808080; border-collapse: collapse; width: 800px; table-layout: fixed;" width="800" border="1" cellspacing="0" cellpadding="0">
    <tr>
      <td class="notes-table-cell notes-table-hd-gray" style="padding: 3px 6px; vertical-align: top; font-weight: bold; background: #f2f2f2;">
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">依頼内容</div>
      </td>
      <td class="notes-table-cell notes-table-hd-gray" style="padding: 3px 6px; vertical-align: top; font-weight: bold; background: #f2f2f2;">
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">対応詳細</div>
      </td>
    </tr>
    <tr>
      <td class="notes-table-cell" style="padding: 3px 6px; vertical-align: top;">
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
          <span class="notes-field-wrap" style="font-weight: normal; display: block; width: 100%;"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{Detail}}</span></span
          >
        </div>
      </td>
      <td class="notes-table-cell" style="padding: 3px 6px; vertical-align: top;">
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
          <span class="notes-field-wrap" style="font-weight: normal; display: block; width: 100%;"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{Maintenance}}</span></span
          >
        </div>
      </td>
    </tr>
    <tr>
      <td class="notes-table-cell" style="padding: 3px 6px; vertical-align: top;">
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
          優先順位：<span class="notes-field-wrap" style="font-weight: normal; display: block; width: 100%;"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{Priority}}</span></span
          >
        </div>
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
          状況詳細：<span class="notes-field-wrap" style="font-weight: normal; display: block; width: 100%;"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{SubStatus}}</span></span
          >
        </div>
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
          費用請求：<span class="notes-field-wrap" style="font-weight: normal; display: block; width: 100%;"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{Contract}}</span></span
          >
        </div>
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
          依頼先：<span class="notes-field-wrap" style="font-weight: normal; display: block; width: 100%;"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{Commission}}</span></span
          >
        </div>
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
          新規・保守：<span class="notes-field-wrap" style="font-weight: normal; display: block; width: 100%;"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{MaintenanceFlag}}</span></span
          >
        </div>
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
          作業工数：<span class="notes-field-wrap" style="font-weight: normal; display: block; width: 100%;"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{Fd_Man_Hour}}</span></span
          >日／人
        </div>
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
          開発工数：<span class="notes-field-wrap" style="font-weight: normal; display: block; width: 100%;"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{Fd_Kaihatsu_Hour}}</span></span
          >日／人
        </div>
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
          受入工数：<span class="notes-field-wrap" style="font-weight: normal; display: block; width: 100%;"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{Fd_Ukeire_Hour}}</span></span
          >日／人
        </div>
      </td>
      <td class="notes-table-cell" style="padding: 3px 6px; vertical-align: top;">
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
          他システム調整：<span class="notes-field-wrap" style="font-weight: normal; display: block; width: 100%;"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{OtherSystem}}</span></span
          >
        </div>
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">調整結果</div>
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
          <span class="notes-field-wrap" style="font-weight: normal; display: block; width: 100%;"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{Adjustment}}</span></span
          >
        </div>
      </td>
    </tr>
    <tr>
      <td class="notes-table-cell notes-table-hd-gray" style="padding: 3px 6px; vertical-align: top; font-weight: bold; background: #f2f2f2;">
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">テスト計画</div>
      </td>
      <td class="notes-table-cell notes-table-hd-gray" style="padding: 3px 6px; vertical-align: top; font-weight: bold; background: #f2f2f2;">
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">テスト結果報告</div>
      </td>
    </tr>
    <tr>
      <td class="notes-table-cell" style="padding: 3px 6px; vertical-align: top;">
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
          <span class="notes-field-wrap" style="font-weight: normal; display: block; width: 100%;"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{TestSchedule}}</span></span
          >
        </div>
      </td>
      <td class="notes-table-cell" style="padding: 3px 6px; vertical-align: top;">
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
          <span class="notes-field-wrap" style="font-weight: normal; display: block; width: 100%;"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{Reseption}}</span></span
          >
        </div>
      </td>
    </tr>
    <tr>
      <td class="notes-table-cell notes-table-hd-gray" style="padding: 3px 6px; vertical-align: top; font-weight: bold; background: #f2f2f2;">
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">リリース情報</div>
      </td>
      <td class="notes-table-cell notes-table-hd-gray" style="padding: 3px 6px; vertical-align: top; font-weight: bold; background: #f2f2f2;">
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">お客様への通達</div>
      </td>
    </tr>
    <tr>
      <td class="notes-table-cell" style="padding: 3px 6px; vertical-align: top;">
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
          Ｎｏ：<span class="notes-field-wrap" style="font-weight: normal; display: block; width: 100%;"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{Release_No}}</span></span
          >
        </div>
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
          予定日：<span class="notes-field-wrap" style="font-weight: normal; display: block; width: 100%;"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{Release_Plan}}</span></span
          >
        </div>
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
          完了日：<span class="notes-field-wrap" style="font-weight: normal; display: block; width: 100%;"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{Release_Comp}}</span></span
          >
        </div>
      </td>
      <td class="notes-table-cell" style="padding: 3px 6px; vertical-align: top;">
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
          連絡要否：<span class="notes-field-wrap" style="font-weight: normal; display: block; width: 100%;"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{Announce}}</span></span
          >
        </div>
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">連絡内容</div>
        <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
          <span class="notes-field-wrap" style="font-weight: normal; display: block; width: 100%;"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{AnnounceDoc}}</span></span
          >
        </div>
      </td>
    </tr>
  </table>

  <p>　</p>

  <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">備考１</div>

  <p>　</p>

  <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
    <span class="notes-field-wrap"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{Fd_Text_2}}</span></span
    >
  </div>

  <p>　</p>

  <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">備考２</div>

  <p>　</p>

  <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
    <span class="notes-field-wrap"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{Fd_Text_3}}</span></span
    >
  </div>

  <p>　</p>

  <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">備考３</div>

  <p>　</p>

  <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
    <span class="notes-field-wrap"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{Fd_Text_4}}</span></span
    >
  </div>

  <p>　</p>

  <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">備考４</div>

  <p>　</p>

  <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
    <span class="notes-field-wrap"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{Fd_Text_5}}</span></span
    >
  </div>

  <p>　</p>

  <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">備考５</div>

  <p>　</p>

  <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
    <span class="notes-field-wrap"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{Fd_Text_6}}</span></span
    >
  </div>

  <p>　</p>

  <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">備考６</div>

  <p>　</p>

  <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
    <span class="notes-field-wrap"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{Fd_Text_7}}</span></span
    >
  </div>

  <p>　</p>

  <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">備考７</div>

  <p>　</p>

  <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
    <span class="notes-field-wrap"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{Fd_Text_8}}</span></span
    >
  </div>

  <p>　</p>

  <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">備考８</div>

  <p>　</p>

  <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
    <span class="notes-field-wrap"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{Fd_Text_9}}</span></span
    >
  </div>

  <p>　</p>

  <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">備考９</div>

  <p>　</p>

  <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
    <span class="notes-field-wrap"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{Fd_Text_10}}</span></span
    >
  </div>

  <p>　</p>

  <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">備考１０</div>

  <p>　</p>

  <div class="notes-par" style="display: block; box-sizing: border-box; margin: 2px 0; font-weight: bold;">
    <span class="notes-field-wrap"><span class="notes-field" style="font-weight: normal; display: block; width: 100%; min-width: 0; padding: 1px 4px;">{{Fd_Text_11}}</span></span
    >
  </div>
</div>
